body {
    background-color: #e0f7fa;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #009688;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title h1 {
    margin: 0;
    font-size: 24px;
}

nav a.home-button {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    margin-right: 25px; /* Ensure button is within the screen */
}

nav a.home-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 100px; /* Adjusted for the fixed header */
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
}

.tile {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ccc;
    transition: all 0.3s ease-in-out;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tile a {
    text-decoration: none;
    color: #000;
    font-size: 36px; /* Increased font size */
}

.tile#honduras a {
    font-size: 30px; /* Slightly smaller font size */
    padding: 0 25px; /* Add padding for spacing */
}

.tile#book-club a {
    white-space: nowrap; /* Ensure single line */
    font-size: 30px; /* Adjusted font size */
    padding: 0 25px; /* Add padding for spacing */
}

.tile#finance a {
    white-space: nowrap; /* Ensure single line */
}

.tile:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.tile:hover a {
    color: #fff;
}

.club-message {
    margin-top: 100px;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.content {
    margin-top: 100px;
    width: 80%;
    max-width: 800px;
    padding
