body {
    background-color: #e0f7fa;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #009688;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title h1 {
    margin: 0;
    font-size: 24px;
}

nav a.home-button {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    margin-right: 40px; /* Adjusted margin to move it left by an inch */
}

nav a.home-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.mit-link {
    position: absolute;
    top: 100px; /* Adjusted to place below the header */
    right: 30px; /* Adjusted margin to move it left */
    text-align: right;
    color: #fff;
    background-color: rgba(0, 150, 136, 0.9); /* Adjust background color if needed */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px; /* Reduced font size */
}

.mit-link a {
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mit-link a:hover {
    text-decoration: underline;
}

.mit-icon {
    width: 24px; /* Reduced size */
    height
